<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/map">
      <mat-icon>explore</mat-icon> Carte
    </button>
    <button mat-button routerLink="/list">
      <mat-icon>format_list_bulleted</mat-icon> Liste
    </button>

    <div *ngIf="auth.loggedIn(); then logoutBlock else loginBlock"></div>
    <ng-template #logoutBlock>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Se déconnecter
      </button>
    </ng-template>
    <ng-template #loginBlock>
      <button mat-button routerLink="/login">
        <mat-icon>power_settings_new</mat-icon> Connexion
      </button>
    </ng-template>
  </div>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/map">
    <mat-icon>explore</mat-icon> Carte
  </button>
  <button mat-menu-item routerLink="/list">
    <mat-icon>format_list_bulleted</mat-icon> Liste
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!auth.loggedIn()">
    <mat-icon>power_settings_new</mat-icon> Connexion
  </button>
  <button mat-menu-item *ngIf="auth.loggedIn()" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Se déconnecter
  </button>
</mat-menu>
