mat-card {
  max-width: 95%;
  margin: 1em auto;
  text-align: center;
}

mat-card-actions {
  margin-bottom: 5px;
}

table {
  width: 100%;
}

.mat-row:hover .mat-cell {
  background-color: rgba(230, 249, 255, 0.9);
}