<div fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <mat-card-title>Liste des appartements: {{apartments.length}}</mat-card-title>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" type="button" [routerLink]="['/list', 'new']">Ajouter</button>
  </mat-card-actions>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
      <ng-container matColumnDef="name" sticky>
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
        <mat-cell *matCellDef="let apart">
          <mat-chip-list>
            <mat-chip color="{{states[apart.state].color}}" selected>{{states[apart.state].label}}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.price}}&nbsp;€ </mat-cell>
      </ng-container>
      <ng-container matColumnDef="priceBySurface">
        <mat-header-cell *matHeaderCellDef>Prix au m&#178;</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.priceBySurface}}&nbsp;€ </mat-cell>
      </ng-container>
      <ng-container matColumnDef="district">
        <mat-header-cell *matHeaderCellDef>Quartier</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.district}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surface">
        <mat-header-cell *matHeaderCellDef>Surface</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.surface}}&nbsp;m&#178;</mat-cell>
      </ng-container>
      <ng-container matColumnDef="exposition">
        <mat-header-cell *matHeaderCellDef>Exposition</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.exposition}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="comments">
        <mat-header-cell *matHeaderCellDef>Commentaires</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.comments.length}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</mat-header-cell>
        <mat-cell *matCellDef="let apart"> {{apart.createdAt | date:'medium'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let apartment; columns: columnsToDisplay" (click)="onClick(apartment)"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
