mat-card {
  max-width: 95%;
  margin: 2em auto;
  text-align: center;
}

mat-card-actions {
  margin-bottom: 5px;
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding: 0 5px;
}

.button-checkbox-row {
  vertical-align: initial;
  padding-top: 10px;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: rgba(0,0,0,0.6)!important;
}