<mat-card *ngIf="!loading">
  <form #apartForm="ngForm" class="form" (ngSubmit)="save()">
    <mat-card-title>{{ pk === 'new' ? 'Nouvel appartement' : apart?.code }}</mat-card-title>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="button"
              *ngIf="mode === 'normal'"
              (click)="edit()">
        Éditer
      </button>
      <button mat-raised-button color="primary" type="button"
              *ngIf="mode === 'edition'"
              (click)="cancel()">
        Annuler
      </button>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!apartForm.form.valid" *ngIf="['creation', 'edition'].includes(mode)">
        Enregistrer
      </button>
    </mat-card-actions>
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Code</mat-label>
              <input matInput [(ngModel)]="apart.code" name="code" disabled />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="T2 Saint Seurin..." [disabled]="mode === 'normal'"
                     [(ngModel)]="apart.name" name="name" required />
              <mat-error>Nom requis.</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Prix</mat-label>
              <input matInput type="number" placeholder="0" [disabled]="mode === 'normal'"
                     [(ngModel)]="apart.price" name="price" required>
              <span matSuffix>&nbsp;€</span>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select [disabled]="mode === 'normal'" [(ngModel)]="apart.state" name="state" required>
                <mat-option *ngFor="let state of states" [value]="state.value">{{state.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4"
                        matInput placeholder="Quelques mots sur l'appartement..." [disabled]="mode === 'normal'"
                        [(ngModel)]="apart.description" name="description"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Latitude</mat-label>
              <input matInput type="number" placeholder="44. ..." [disabled]="mode === 'normal'"
                     [(ngModel)]="apart.lat" name="lat" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Longitude</mat-label>
              <input matInput type="number" placeholder="1. ..." [disabled]="mode === 'normal'"
                     [(ngModel)]="apart.lon" name="lon" />
            </mat-form-field>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4">
            <mat-expansion-panel (opened)="commentPanelOpenState = true"
                                 (closed)="commentPanelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>Commentaires ({{apart.comments?.length}})</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <div *ngFor="let comment of apart.comments">
                  <mat-divider></mat-divider>
                  <mat-list-item style="height: auto;">
                    <div style="margin: 10px 0;">
                      <div mat-line align="start">
                        <i style="color: #a6a6a6; margin-right: 5px;">{{comment.author ? comment.author + ' - ' : ''}} {{comment.date | date:'medium'}}</i>
                      </div>
                      <div mat-line align="start" style="white-space: pre-wrap;">
                        <div>{{comment.text}}</div>
                      </div>
                    </div>
                  </mat-list-item>
                </div>
              </mat-list>
              <mat-action-row>
                <button mat-raised-button color="accent" type="button"
                        [disabled]="mode !== 'normal'" (click)="addComment()">
                  Ajouter un commentaire
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <i style="color: lightgray" *ngIf="pk !== 'new'">{{getFooterText()}}</i>
    </mat-card-footer>
  </form>
</mat-card>
